<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>klondike</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/klondike</string>
        <string>--output</string>
        <string>/Users/username/contacts.csv</string>
    </array>

    <key>UserName</key>
    <string>username</string>

    <key>StandardOutPath</key>
    <string>/Users/username/log/klondike.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/username/log/klondike.log</string>

    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>4</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
</dict>
</plist>

